.wrapper {
    position: relative;
    margin: -47vh auto 0;
    max-width: 1280px;
    padding: 1rem;
    background: white;
}

.item {
    flex: 0 0 31%;
    list-style: none;
    margin-bottom: 1rem;
}

.productImage {
    float: left;
    width: 100%;
}

.productImage:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 4rem inset;
}

.paralaxContainer {
    border: 0;
    height: 65vh;
    margin: 0;
    display: flex;
    padding: 0;
    overflow: hidden;
    position: relative;
    max-height: 1000px;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

.navWrapper {
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 10;
    transition: background ease-in 0.3s;
}

.navContainer {
    background: transparent;
    width: 100%;
    max-width: 1280px;
    margin: 0.5rem auto 0;
    box-shadow: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 0.5rem 1rem;
}

.navLogoContainer {
    flex: 1 0 10%;
}

.navLogo {
    fill: white;
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.7));
    transition: color ease-in 0.3s;
    width: 34px;
    height: 24px;
}

.navCategoriesContainer {
    flex: 1 1 50%;
    text-align: center;
}

.navCategoriesContainer a {
    margin: 0 1rem;
    font-weight: 700;
    line-height: 24px;
    color: white;
}

.navIconsContainer {
    flex: 1 0 10%;
    text-align: right;
}

.navIcon svg {
    color: white;
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.7));
    margin-left: 1rem;
    transition: color ease-in 0.3s;
    width: 18px;
    height: 18px;
}

.paralaxContent {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 7vh;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.7) 2px 2px;
    text-align: center;
    padding: 0 1rem;
}

.stickyNav {
    background: white;
    border-bottom: 1px solid #ccc;
}

.stickyNav .navLogo {
    fill: #444;
    filter: none;
}

.stickyNav .navIcon svg {
    color: #444;
    filter: none;
}

.stickyNav .navCategoriesContainer a {
    color: #106ba3;
}

.mobileOnly {
    display: none;
}

.mobileDrawerContainer {
    flex: 1 0 10%;
    text-align: left;
}

.mobileDrawer {
    color: white;
    cursor: pointer;
}

.stickyNav .mobileDrawer {
    color: #444;
}

@media (max-width: 768px) {
    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }

    .navLogoContainer {
        text-align: center;
    }

    .paralaxContent h2 {
        font-size: 1rem;
    }
}
