.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.cell {
    flex: 0 0 calc(200%/3 - 1rem/2);
    margin-bottom: 1rem;
}

.cellSmall {
    flex: 0 0 calc(100%/3 - 1rem/2);
    margin-bottom: 1rem;
}